<div class="container text-center">
    <h1>About page</h1>
    <p>We are DevMatch. Out company focuses on creating an exclusive community
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quasi veritatis nostrum et ad magnam error aperiam ab quaerat doloribus eaque cumque dolor perspiciatis architecto impedit numquam suscipit modi enim?</p>
</div>